@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0px;
}

h1 {
    font-family: 'Roboto', sans-serif;   
}

.header {
    text-align: center;
    font-family: 'Roboto', sans-serif;   
    margin-top: 35px;
}

.navbar {
    background-color: rgb(34, 36, 33);
    text-align: left;
    transition: .2s;
}

.navbar:hover {
    background-color: darkblue;
    transition: .2s;
}

.navlink {
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

.navlink:link {
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

.navlink:hover {
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
    color: gray;
    margin-left: 5px;
}

.navlink:active {
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
    color: gray;
    margin-left: 5px;
}

.navlink:visited {
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

.navli {
    text-decoration: none;
    text-decoration-style: none;
    margin-left: 5px;
}

.bib {
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;   
    margin: 15%;
    margin-bottom: 0px;
    margin-top: 0%;
}

.button {
    text-align: center;
    border: none;
    padding: 10px;
    width: -webkit-fill-available;;
    margin: 15px;
    color: white;
    background-color: blue;
    transition: .2s;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-left: 200px;
    margin-right: 200px;
}

.button:hover {
    background-color: red;
    border-radius: 14px;
    transition: .5s;
}

.button:active {
    background-color: green;
    border-radius: 24px;
    transition: .1s;
}

.navbarprol {
    text-align: center;
    display: flex;
}

.boxli {
    display: flex;
    list-style: none;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-content: center;
    padding: 37px;
    font-family: 'Roboto', sans-serif;
    width: -webkit-fill-available;
    margin-bottom: -10px;
}

.footer {
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
    color: black;
    margin-left: 5px;
}